<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello <%= @user.user_name %>,Your order has been placed successfully!</h1>
<p>
  Your order number is <%= @order.order_number %>
</p>
<p>
  Total Amount <%= number_to_currency @order.total_amount/100 %>
</p>
<p>
  Ordered Items are:
</p>
<%@order.order_items.each do |order_item| %>
  <p>
    Item Name: <%= order_item.product.name %>
  </p>
  <p>
    Price: <%= number_to_currency order_item.product.price/100 %>
  </p>
<% end %>
<p>Thanks for ordering and have a great day!</p>
</body>
</html>