<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">E-Dokan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%ProductCategory.all.each do |category| %>
            <a class="dropdown-item" href="/?category=<%=category.id%>"><%=category.category_name%></a>
          <%end %>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link i fa fa-shopping-cart" href="/cart">Cart</a>
      </li>
      <li class="nav-item form-inline active">
        <%if current_user.present? %>
          <%=link_to "Your Orders", orders_path, class: "nav-link i fa fa-list mr-1 "%>
        <%end %>
      </li>
    </ul>
    <form action="/" class="ml-5 form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" name="search_product" type="search" placeholder="Search product" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <li class="nav-item form-inline active">
        <%if current_user.present? %>
          <%= link_to current_user.user_name, user_profile_path(current_user)%>
          <%=link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link i fa fa-sign-out mr-1 "%>
        <%else %>
          <%=link_to "Sign in", new_user_session_path, class: "nav-link i fa fa-sign-inn mr-1 "%>
        <%end %>
      </li>
    </form>
  </div>
</nav>
