<h1>Complete your Payment Now</h1>
<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe('<%= Rails.application.credentials.dig(:stripe, :STRIPE_PUBLISHABLE_KEY) %>');
</script>
<%= form_tag charges_path do %>
  <%=hidden_field_tag :order_id, @order.id %>
  <article>
    <label class="amount">
      <span>Amount: $<%= @order.total_amount %></span>
    </label>
  </article>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.application.credentials.dig(:stripe, :STRIPE_PUBLISHABLE_KEY) %>"
          data-description="A month's subscription"
          data-amount="<%= @order.total_amount %>"
          data-locale="auto">
  </script>
<% end %>