<div class="col-md-12 mr-lg-n5">
  <div class="card">
    <div class="card-body">
      <div class="d-flex flex-column align-items-center text-center">
        <%if @user.image.present? %>
          <%= image_tag @user.image.url , class:"rounded-circle" , style:"width:150px" %>
        <%end %>
        <div class="mt-3">
          <h4><%=@user.user_name%></h4>
          <%if current_user.present? && @user == current_user %>
            <%= link_to "Signout", destroy_user_session_path ,method: :delete, class:"btn btn-danger text-white i fa fa-sign-out", style:"margin:5px"%>
            <%= link_to "Edit", edit_user_registration_path , class:"btn btn-info ml-2 mr-2"%>
          <%end %>
          <%= link_to "Back", :back , class:"btn btn-secondary text-dark i fa fa-backward", style:"margin:5px"%>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 mr-lg-n5">
  <div class="card mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Full Name</h6>
        </div>
        <div class="col-sm-9">
          <%=@user.user_name%>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Email</h6>
        </div>
        <div class="col-sm-9">
          <%=@user.email%>
        </div>
      </div>
      <hr>
      <%if current_user.present? && @user == current_user %>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Mobile</h6>
          </div>

            <div class="col-sm-9">
              +880 <%=@user.contact_number%>
            </div>

        </div>
      <%end %>
    </div>
  </div>
</div>
