<!DOCTYPE html>
<html>
  <head>
    <title>EDokan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if current_user.present? && current_user.is_admin? %>
      <%=render 'shared/nav_bar_admin' %>
    <%else %>
      <%=render 'shared/nav_bar_user' %>
    <%end %>
    <div class = "main">
      <%= render "layouts/flash" %>
      <div class="container-fluid align-self-auto mb-lg-5 mb-lg-5">
        <div class="mb-lg-5">
          <%= yield %>
        </div>
      </div>
    </div>
    <% unless current_user&.is_admin? %>
      <%= render "shared/footer" %>
    <%end %>
  </body>
</html>
